body {
  background-image: url("images/stars.png");
  padding-top: 50px;
}

.fan-wrapper {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "fanGraphic1 fanGraphic2"
    "fanButton1 fanButton2"
    "fanGraphic3 fanGraphic4"
    "fanButton3 fanButton4";
  justify-items: center;
  align-items: center;
}

#fan-1 {
  grid-area: fanGraphic1;
}

#fan-button-1 {
  grid-area: fanButton1;
}

#fan-2 {
  grid-area: fanGraphic2;
}

#fan-button-2 {
  grid-area: fanButton2;
}

#fan-3 {
  grid-area: fanGraphic3;
}

#fan-button-3 {
  grid-area: fanButton3;
}

#fan-4 {
  grid-area: fanGraphic4;
}

#fan-button-4 {
  grid-area: fanButton4;
}

.fan-buttons {
  width: 40%;
  height: 3rem;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: large;
  border-radius: 10px;
  background-color: #8a8989;
  color: #c0d72f;
}

.fan-graphics {
  height: 14rem;
}

.extras-graphics {
  height: 8rem;
}

.extras-wrapper {
  display: flex;
  padding: 3rem;
  justify-content: space-between;
  margin-top: 50px;
}

footer{
  color: white;
  text-align: center;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
}

a{
  color: white;
}

/* rotation */
.rotate {
  animation: rotate 0.75s infinite linear;
}
.paused {
  animation-play-state: paused;
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .fan-graphics {
    height: 10rem;
  }

  .extras-graphics {
    height: 5rem;
  }

  .fan-buttons {
    width: 70%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .fan-graphics {
    height: 10rem;
  }

  .extras-graphics {
    height: 5rem;
  }

  .fan-buttons {
    width: 70%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .fan-graphics {
    height: 10rem;
  }

  .extras-graphics {
    height: 5rem;
  }

  .fan-buttons {
    width: 70%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .fan-graphics {
    height: 10rem;
  }

  .extras-graphics {
    height: 5rem;
  }

  .fan-buttons {
    width: 50%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .fan-graphics {
    height: 10rem;
  }

  .extras-graphics {
    height: 5rem;
  }

  .fan-buttons {
    width: 45%;
  }

  body{
    padding: 50px;
  }

  /* even bigger */
@media only screen and (min-width: 2000px) {
  .fan-graphics {
    height: 15rem;
    padding-top: 10px;
  }

  .extras-graphics {
    height: 5rem;
    padding: 0 100px;
  }

  .fan-buttons {
    width: 30%;
  }

  body{
    padding: 50px;
  }
}
